<%- include('header') %>

    <h2>This is the about page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum illo unde veritatis sapiente ducimus
        voluptatem
        eveniet, reprehenderit earum necessitatibus a.</p>

    <%- include('footer') %>